<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @figure.name %></title>
  </head>
  <body>
    <h1>Edit <%= @figure.name %></h1>
    <form action="/figures/<%= @figure.id %>" method="POST">
      <label>Name:</label>
  		<input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">

  		<br></br>

  		<strong><label>Landmarks</label></strong>
      <br>
      <p>New Landmark:</p>
  		<input type="text" name="landmark[name]" id="new_landmark">
      <p>New Landmark Year:</p>
      <input type="text" name="landmark[year_completed]" id="new_landmark_year">
      <br>
      <p>Existing Landmarks:</p>
      <%Landmark.all.each do |l|%>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>" id="landmark_<%=l.id%>"<%='checked' if @figure.landmarks.include?(l)%>><%=l.name%></input>
      <%end%>
  		<br></br>

      <strong><label>Titles</label></strong>
      <br>
      <p>New Title:</p>
      <input type="text" name="title[name]" id="new_title">
      <br>
      <p>Existing Titles:</p>
      <%Title.all.each do |t|%>
        <input type="checkbox" name="figure[title_ids][]" value="<%=t.id%>" id="title_<%=t.id%>"<%='checked' if @figure.titles.include?(t)%>><%=t.name%></input>
      <%end%>
      <br></br>

  		<input type="submit" value="Edit Figure">
    </form>
  </body>
</html>
